:root {
  --primary-font: "Montserrat", sans-serif;
  --heading-font: "Lora", serif;
  --logo-font: "Crimson Pro", serif;

  --main-black: #181719;
  --main-white: #ffffff;
  --gray-1: #828282;
  --gray-2: #f2f2f2;
  --gray-3: #a9a9a9;

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

/* General Styling */
*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  padding: 0 0.75rem 1.5rem;
  font-family: var(--primary-font);
  font-size: 0.875rem;
  color: var(--main-white);
  background-color: var(--main-black);
  overflow: auto;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--main-white);
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.125rem;
  font-family: var(--heading-font);
}
h4 {
  font-size: 0.875rem;
}
p {
  color: var(--main-white);
}
i {
  font-size: 2rem;
  background-color: transparent;
  color: var(--main-white);
  cursor: pointer;
}
@media screen and (min-width: 760px) {
  body {
    padding-top: 1rem;
  }
  h2 {
    font-size: 3rem;
  }
}

/* ||Utilities */
.btn {
  background-color: transparent;
  border: 1px solid var(--main-black);
  font-family: var(--primary-font);
  font-size: 0.875rem;
  cursor: pointer;
}
.active {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: var(--main-white);
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 0.5rem;
}

/* || Main Content */

/* main */
.main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
@media screen and (min-width: 760px) {
  .main {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 5rem;
  }
}
/* nav */
.navbar {
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-center {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.nav-links {
  display: none;
}
.nav-header {
  display: flex;
}
.nav-header h4 {
  font-family: var(--logo-font);
  font-size: 0.875rem;
  font-weight: 200;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  padding: 0.5rem;
  border: 1px solid var(--main-white);
}
.active {
  font-weight: 700;
}
@media screen and (min-width: 760px) {
  .nav-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.125rem;
  }
  .nav-center i {
    display: none;
  }
}

/* hero section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-center {
  display: flex;
  flex-direction: column;
}
.hero-info {
  display: flex;
  flex-direction: column;
}
.hero-info h2 {
  font-family: var(--heading-font);
  font-weight: 500;
  margin: 1.25rem 0;
}
.hero-info p {
  margin-bottom: 1.25rem;
  width: 24ch;
  grid-column: 1;
  grid-row: 2;
}
.hero-info button {
  font-weight: 700;
  text-align: left;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  grid-column: 1;
  grid-row: 3;
}
.btn i {
  font-size: 1.25rem;
  padding-left: 1rem;
}
.hero-image {
  position: relative;
  display: flex;
  flex-direction: column;
}
.hero-image img {
  width: 100%;
  margin-top: 0.5rem;
}

.hero-image-content {
  width: 300px;
  position: absolute;
  bottom: -6.75rem;
  right: 1rem;
  background-color: var(--main-black);
  box-shadow: var(--shadow);
  padding: 1rem 0 1.5rem 1.25rem;
}
.img-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}
.img-container img {
  width: 15%;
  border-radius: 50%;
  margin: 0;
}
.image-name {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 0 0.15rem 1rem;
}
.image-title {
  font-size: 0.625rem;
  color: var(--gray-1);
  margin-left: 1rem;
}
.image-description {
  width: 20ch;
}
@media screen and (min-width: 760px) {
  .hero-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 9.25rem;
  }
  .hero-info {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .hero-info p {
    font-size: 1.5rem;
  }
  .hero-info a {
    font-size: 1.125rem;
  }
  .hero-info i {
    font-size: 1.75rem;
  }
  .hero-image {
    flex-basis: 60%;
  }
  .hero-image img {
    margin-top: 0;
  }
  .hero-image-content {
    width: 410px;
    padding: 1.5rem 0 2rem 1.5rem;
    bottom: -5rem;
    right: 2rem;
  }
  .img-container img {
    width: 13%;
  }
  .image-name {
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
  }
  .image-title {
    font-size: 0.75rem;
    font-weight: 500;
  }
  .image-description {
    font-size: 1.5rem;
  }
}

/* sidebar */
.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  z-index: -1;
  transition: var(--transition);
  background-color: var(--main-black);
}
.sidebar-wrapper-show {
  visibility: visible;
  z-index: 2;
  transform: scale(1);
}
.sidebar {
  width: 95vw;
  height: 95vh;
  position: relative;
  display: grid;
  place-items: center;
  padding: 4rem 2rem;
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 0;
}
.sidebar-links a {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

/* footer */
.footer {
  padding-bottom: 1.5rem;
  text-align: center;
}
.footer a {
  text-decoration: underline;
}
